@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --primary-Bright-Blue: hsl(220, 98%, 61%);
  --primary-Check-Background: linear-gradient (to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --primary-from: hsl(192, 100%, 67%);
  --primary-to: hsl(280, 87%, 65%);

  --light-Very-Light-Gray: hsl(0, 0%, 98%);
  --light-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --light-Light-Grayis-Blue: hsl(233, 11%, 84%);
  --light-Dark-Grayis-Blue: hsl(236, 9%, 61%);
  --light-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --dark-Very-Dark-Blue: hsl(235, 21%, 11%);
  --dark-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --dark-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --dark-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --dark-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --dark-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --dark-Very-Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
