* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  color: var(--dark-Light-Grayish-Blue);
}

span {
  color: var(--dark-Very-Dark-Grayish-Blue);
  font-size: 14px;
}

span:hover {
  color: var(--dark-Light-Grayish-Blue-hover);  
}

#checkbox-icon1:hover {  
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;  
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
}